.container
    display flex
    flex-direction column
.app-components
    display flex
    flex-direction row
    @media (max-width:500px)
        flex-direction column
.section
    border 4px solid black
    flex-grow: 1
