.header
    font-family Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size 4rem
    background orange
    align-items normal
    display flex

    flex-direction: column
    align-items center
    justify-content center 
.tagline
    font-size 1.5rem
    font-style italic